section     {
  padding-top: 50px;
  padding-bottom: 50px;

  .section-header   {
    text-align: center;

    h2    {
      padding-bottom: 20px;
      padding-top: 20px;
      margin-bottom: 50px;
      margin-top: 50px;
      text-transform: uppercase;
      color: #AAA;
      position: relative;
      letter-spacing: 3px;
      font-style: italic;

      &:before,
      &:after     {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 20%;
        left: 40%;
        background: #AAA;
      }

      &:before  {
        top: 0;
      }
      &:after   {
        bottom: 0;
      }
    }
  }
}