.card   {
  background: #FFF;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(#000, 0.3);

  &.card-padded   {
    padding: 30px;
  }

  // image
  .img-container  {
    display: block;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 200px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.post-card  {
  position: relative;
  margin-bottom: 20px;
  min-height: 350px;

  // title
  h2  {
    font-size: 24px;
    margin: 0 0 10px;

    a   {
      color: #424242;
      transition: 0.3s ease all;

      &:hover   {
        color: red;
        text-decoration: none;
      }
    }
  }

  // card content
  .card-content   {
    padding: 20px;

    // byline
    .byline   {
      font-size: 12px;
      color: #BBB;
      margin-bottom: 10px;
    }

    // price
    .price  {
      position: absolute;
      top: 0;
      right: 0;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      font-size: 14px;
      padding: 3px 8px;
      color: #FFF;
    }

    .price-premium {
      background: #F42E45;
    }
    .price-free     {
      background: #02BD70;
    }
  }
}