.hero   {
  background: 
    linear-gradient(rgba(#0879EE, 0.9), rgba(#0879EE, 0.75)),
    url(http://placekitten.com/g/800/600) no-repeat top center;
  background-size: cover;
  height: 800px;
  max-height: 70vh;
  text-align: center;

  .hero-content   {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;

    h1, h2      {
      margin-top: 0;
    }
    h1    {
      font-size: 70px;
    }
    p     {
      font-size: 30px;
      margin-bottom: 30px;
    }

    .cta a  {
      padding: 20px 30px;
      font-size: 30px;
    }
  }
}